<div>
	<p class="list-group-item">
	All Categories
		<span style="float:right">
			<button id="categoryCreate" type="button" class="btn btn-xs btn-primary" ng-click="createNewCategory()">
				<span class="glyphicon glyphicon-plus"></span>
			</button>
		</span>
	</p>
</div>
<br>
<div ng-repeat="category in categories">
	<p class="list-group-item">{{category.name}}
		<span style="float:right">
			<button id="categoryDelete" type="button" class="btn btn-xs btn-danger" ng-click="deleteCategory(category.id)">
				<span class="glyphicon glyphicon-remove"></span>
			</button>
		</span>
	</p>
</div>