<div class="modal-header">
	<h3 class="modal-title">Save Expense</h3>
</div>
<div class="modal-body">
	<form id="newExpenseForm" ng-submit="submitExpense()">
		<input id="expenseName" type="text" class="form-control" ng-model="newExpense.name" placeholder="Name"/>
		<input id="expenseCost" type="number" class="form-control" ng-model="newExpense.cost" placeholder="Cost"/>
		<input id="expenseDate" type="text" class="form-control" ng-model="newExpense.date" placeholder="Date"/>
		<select id="expenseCategory" class="form-control" ng-model="newExpense.category" ng-options="category.name for category in categories"></select>
		<button id="expenseSave" type="submit" class="btn btn-primary">Save</button>						
		<button id="expenseCancel" type="button" class="btn btn-default" ng-click="cancelExpense()">Cancel</button>		
	</form>
</div>
<div class="modal-footer"></div>

