<div>
	<p class="list-group-item">
	All Expenses
		<span style="float:right">
			<button id="expenseCreate" type="button" class="btn btn-xs btn-primary" ng-click="createNewExpense()">
				<span class="glyphicon glyphicon-plus"></span>
			</button>
		</span>
	</p>
</div>
<br>
<div ng-repeat="expense in expenses">
	<p class="list-group-item">{{expense.name}} {{expense.cost}} {{expense.date}}
		<span style="float:right">
			<button id="expenseDelete" type="button" class="btn btn-xs btn-danger" ng-click="deleteExpense(expense.id)">
				<span class="glyphicon glyphicon-remove"></span>
			</button>
		</span>
	</p>
</div>